/* https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=beautiful-navbar-with-menu-icons */

/* -------------------- Navbar -------------------- */
.navbar img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin-right: 10px;
}

.nav-item .nav-link .active a:hover {
	color: #0400FF;
}

.navbar .dropdown-item i {
	font-size: 16px;
	min-width: 22px;
}

.navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #E5E5E5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}

.navbar .dropdown-menu a {
	color: #777 !important;
	padding: 8px 20px;
	line-height: normal;
	font-size: 15px;
}

.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:focus {
	color: #333 !important;
	background: transparent !important;
}

.navbar .navbar-nav .active a, .navbar .navbar-nav .active a:hover, .navbar .navbar-nav .active a:focus {
	color: #899499;
	text-shadow: 0 0 4px rgba(255,255,255,0.2);
	background: transparent !important;
	cursor: pointer;
}

.navbar .navbar-nav .user-action {
	padding: 9px 15px;
	font-size: 15px;
}

.navbar .navbar-toggle {
	border-color: #fff;
}

.navbar .navbar-toggle .icon-bar {
	background: #fff;
}

.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
	background: transparent;
}

.navbar .navbar-nav .open .dropdown-menu {
	background: #faf7fd;
	border-radius: 1px;
	border-color: #faf7fd;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);

	cursor: pointer;
}

.navbar .divider {
	background-color: #e9ecef !important;
}




/* -------------------- Login Page -------------------- */
form {
	border: 3px solid #C8C8C8;
	border-radius: 8px;
	width: 500px;  
    margin-left: auto;  
    margin-right: auto;
}

.loginHeader {
	width: 500px;  
    margin-left: auto;  
    margin-right: auto;  
}

input[type=text], input[type=password], input[type=number], input[type=date] {
	width: 100%;
	padding: 10px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #A8A8A8;
	border-radius: 5px;
	box-sizing: border-box;
}

select.select-items {
	width: 100%;
	padding: 10px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #A8A8A8;
	border-radius: 5px;
	box-sizing: border-box;
}


/* ---------- Buttons ---------- */
button {
	padding: 10px 20px;
	margin: 5px 0;
	border: 1px solid #A8A8A8;
	border-radius: 12px;
	cursor: pointer;
}

.longButton {
	width: 100%;
}

.halfButton {
	width: 47%;
}

.largeButton {
	background-color:#FB3640; 
	border-radius: 12px;
	font-size: 20px; 
	padding: 10px 20px 10px 20px; 
	float: left; 
}

.homeButton {
	border-radius: 8px;
	border: 1px solid #A8A8A8;
	font-size: 25px; 
	padding: 15px 30px 15px 30px; 
	float: left; 
}

button:hover {
	opacity: 0.8;
}

.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #FB3640;
}



/* Container class */
.container {
	padding: 16px;
}

span.psw {
	float: right;
	padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
 		display: block;
 		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}



/* ---------- Footer ----------- */
footer {
	background-color: #D3D3D3;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}