/* https://www.tutorialrepublic.com/codelab.php?topic=bootstrap&file=beautiful-navbar-with-menu-icons */

.navbar img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin-right: 10px;
}

/* ...? */
.nav-item .nav-link .active a:hover {
	color: 0400FF;
}

.navbar .dropdown-item i {
	font-size: 16px;
	min-width: 22px;
}

.navbar .dropdown-item .material-icons {
	font-size: 21px;
	line-height: 16px;
	vertical-align: middle;
	margin-top: -2px;
}

.navbar .nav-item.open > a, .navbar .nav-item.open > a:hover, .navbar .nav-item.open > a:focus {
	color: #fff;
	background: none !important;
}

.navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}

.navbar .dropdown-menu a {
	color: #777 !important;
	padding: 8px 20px;
	line-height: normal;
	font-size: 15px;
}

.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:focus {
	color: #333 !important;
	background: transparent !important;
}



.navbar .navbar-nav .active a, .navbar .navbar-nav .active a:hover, .navbar .navbar-nav .active a:focus {
	color: #fff;
	text-shadow: 0 0 4px rgba(255,255,255,0.2);
	background: transparent !important;
}

.navbar .navbar-nav .user-action {
	padding: 9px 15px;
	font-size: 15px;
}

.navbar .navbar-toggle {
	border-color: #fff;
}

.navbar .navbar-toggle .icon-bar {
	background: #fff;
}

.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
	background: transparent;
}

.navbar .navbar-nav .open .dropdown-menu {
	background: #faf7fd;
	border-radius: 1px;
	border-color: #faf7fd;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}

.navbar .divider {
	background-color: #e9ecef !important;
}

@media (min-width: 1200px) {
	.form-inline .input-group {
		width: 350px;
		margin-left: 30px;
	}
}

@media (max-width: 1199px) {
	.navbar .navbar-nav > a > i {
		display: inline-block;			
		text-align: left;
		min-width: 30px;
		position: relative;
		top: 4px;
	}
	.navbar .navbar-collapse {
		border: none;
		box-shadow: none;
		padding: 0;
	}
	.navbar .navbar-form {
		border: none;			
		display: block;
		margin: 10px 0;
		padding: 0;
	}
	.navbar .navbar-nav {
		margin: 8px 0;
	}
	.navbar .navbar-toggle {
		margin-right: 0;
	}
	.input-group {
		width: 100%;
	}
}




/* --Login Page-- */
form {
	border: 3px solid #C8C8C8;
	border-radius: 8px;
	width: 500px;  
    margin-left: auto;  
    margin-right: auto;
}

.loginHeader {
	width: 500px;  
    margin-left: auto;  
    margin-right: auto;  
}

input[type=text], input[type=password] {
	width: 100%;
	padding: 10px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #A8A8A8;
	border-radius: 5px;
	box-sizing: border-box;
}

/* Button attribute */
button {
	padding: 10px 20px;
	margin: 5px 0;
	border: 1px solid #A8A8A8;
	border-radius: 12px;
	cursor: pointer;
	width: 100%;
}

.largeButton {
	background-color:#FB3640; 
	border-radius: 8px;
	font-size:20px; 
	padding:10px 20px 10px 20px; 
	float:left; 
}

button:hover {
	opacity: 0.8;
}

.cancelbtn {
	width: auto;
	padding: 10px 18px;
	background-color: #FB3640;
}

/* Container class */
.container {
	padding: 16px;
}

span.psw {
	float: right;
	padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
	span.psw {
 		display: block;
 		float: none;
	}
	.cancelbtn {
		width: 100%;
	}
}



footer {
	background-color: #D3D3D3;
	position: absolute;
	right: 0;bottom:0;left:0;
}