{% extends "Wrapper.j2" %}
{% block body %}
	
	<h2 style="padding-left: 20px; padding-top: 75px">About Us</h2>
	<p><br>
		<!-- <img src="/static/images/pexels-markus-spiske-3806764-cpt.jpg" alt="Overflowing Trash Can" style="float:right; margin-left:20px; width:325px; height:383px;"> -->
		<!-- <img src="/static/images/supermarket_market_grocery_store.jpg" alt="Overflowing Trash Can" style="float:right; margin-left:20px;"> -->
		<img src="/static/images/thomas-le-pRJhn4MbsMM-unsplash.jpg" alt="Overflowing Trash Can" style="float:right; margin-left:20px; width:325px; height:383px;">
		<i>Imagine this...</i>
		<br><br>
		You're driving home from work and you're <i>exhausted</i>... and <span style="color:red;"><i>hungry</i></span>.<br>
		You don't know what food you have at home to make dinner, so you decide to drive straight to the grocery store.
		<br><br>
		After a few minutes, you've figured out exactly what you want to make!<br>
		You pull up your mental list and start grabbing everything you need.<br>
		A little of this and a little of that...
		<br><br>
		<i>Suddenly</i>, it dawns on you that you might have some of these ingredients at home!<br>
		...But you can't check, so you buy everything.
		<br><br>
		Once you get home, you look in the refrigerator and your face drops...<br>
		You had all but <b>ONE</b> ingredient already in your fridge and pantry!
		<br><br>
	</p>
	<hr/>
	<p>
		<br>
		In America, 30-40 percent of the food supply is <b><i>wasted</i></b>!<br>
		We bring food home, and then forget about it as it spoils hidden away in storage.<br>
		If only there was a way to keep track of it all! 
		<br><br>
		Well, you came to the right place!<br>
		Welcome to Grocery Guru, where we help you keep track of your pantry and everything inside!<br>
		Our goal is to help save you money while saving the planet!
		<br><br>
		To get started, click here to <a href="/Login">create an account</a>! Otherwise, <a href="/Login">sign in</a> to keep saving!<br>
		If you're not hooked yet, visit the <a href="/LearnMore">Learn More</a> tab to explore how food waste affects the planet and what else <b>YOU</b> can do to prevent it! 
	</p>
	<hr/>
{% endblock %}