{% extends "Wrapper.html" %}
{% block body %}
	
	<p><br> 
		<img src="/static/images/pexels-markus-spiske-3806764-cpt.jpg" alt="Overflowing Trash Can" style="float:right;  width:325px; height:383px;">
		In America, 30-40 percent of the food supply is <b><i>wasted</i></b>.
		<br><br>
		We bring food home from stores and restaurants and forget about it.
		<br><br>
		It sits in our refrigerators and pantries until its spoiled.
		<br><br>
		<i>What if there was a better way to do it?</i>
		<br><br>
		What if you could have an easily accessable record of your food and its lifespan?
	</p>

	<br><br>
	<p>Related Links and More Information: </p>
	<a href="https://www.usda.gov/foodwaste/faqs">https://www.usda.gov/foodwaste/faqs</a>

{% endblock %}

<!-- call cirtificate people   electricity 20.27   download class stuff -->