<!DOCTYPE html>
<html>
	<head>
		<!-- Icon -->
		<link rel="stylesheet" href="/static/css/Style.css">
	</head>
	
	<body>
		<h1>Add Item to List</h1>

		<form method="POST">
			<label for="list_name">List Name:</label><br>
			<select
			  id="list_name"
			  name="list_name"
			>
				{% for list in lists %}
					<option
					  value="{{ list.id }}"
					>
						{{ list.name }}
					</option>
				{% endfor %}
			</select>

			<br><br>

			<label for="item_name">Item Name:</label><br>
			<input type="text" id="item_name" name="item_name" placeholder="Bananas"><br><br>
			<input type="submit" value="Submit">
		</form> 		
	</body>
</html>
