<!DOCTYPE html>
<html>
	<head>
		<!-- Icon -->
		<link rel="stylesheet" href="/static/css/Style.css">
	</head>
	
	<body>
		<h1>Add Item to List</h1>

		<form action="/action_page.php">
			<label for="list_name">List Name:</label><br>
			<input type="text" id="list_name" name="list_name" value="Shopping List"><br>
			<label for="item_name">Item Name:</label><br>
			<input type="text" id="item_name" name="item_name" value="Bananas"><br><br>
			<input type="submit" value="Submit">
		</form> 		
	</body>
</html>
