<!DOCTYPE html>
<html>
	<head>
		<!-- Icon -->
	</head>
	
	<body>
		user_id is {{ user_id }}
		<br>
		item_id is {{ item_id }}
		<br>
		home_ingredient_id is {{ home_ingredient_id }}
	</body>
</html>
