<!DOCTYPE html>
<html>
	<head>
		<!-- Icon -->
		<link rel="stylesheet" href="/static/css/Style.css">
	</head>

	<body>
		<h1>Grocery Guru</h1>

		<h2>New User:</h2>
		<form method="POST">
			<label for="email"><b>Email</b></label>
			<input type="text" placeholder="Enter Email" name="email" value="{{ request.form.email }}" required>
			<br><br>

			<label for="name"><b>What should we call you?</b></label>
			<input type="text" placeholder="Gary" name="name" value="{{ request.form.name }}" required>
			<br><br>

			<label for="pass"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="pass" value="{{ request.form.pass }}" required>
			<br><br>

			<label for="confirmPass"><b>Confirm Password</b></label>
			<input type="password" placeholder="Confirm Password" name="confirmPass" value="{{ request.form.confirmPass }}" required>
			<br><br>

			<button type="submit">Submit</button>
		</form>
	</body>
</html>
