<!DOCTYPE html>
<html>
	<head>
		<!-- Icon -->
		<link rel="stylesheet" href="/static/css/Style.css">
	</head>

	<body>
		user_id is {{ user_id }}
		<br>
		item_id is {{ item_id }}
		<br>
		list_ingredient_id is {{ list_ingredient_id }}
	</body>
</html>
