{% extends "Base.j2" %}

{% block title %}Create user test — Grocery Guru{% endblock %}

{% block content %}
	<div class="card">
		<h1>Create user test</h1>
		<p>user_id is {{ user_id }}</p>
		<p>item_id is {{ item_id }}</p>
		<p>list_ingredient_id is {{ list_ingredient_id }}</p>
	</div>
{% endblock %}
