<!DOCTYPE html>
<html>
	<head>
		<!-- Icon -->
		<link rel="stylesheet" href="/static/css/Style.css">
	</head>

	<body>
		<h1>Grocery Guru</h1>

		<h2>New User:</h2>
		<form>
			<label for="uname">Username: </label>
			<br>
			<input type="text" id="uname" name="uname">
			<br><br>
			<label for="pass">Password: </label><br>
			<input type="text" id="pass" name="pass">
			<br><br>
			<input type="submit" id="submit" value="Submit">
		</form>
	</body>
</html>
