{% extends "Base.j2" %}

{% block title %}Home — Grocery Guru{% endblock %}


{% block content %}
	<div class="card">
		<h1>Grocery Guru</h1>
		<h2>Welcome back!</h2>

		<div class="action-buttons">
			<a href="/AddListItem" class="btn btn-primary">Add item to list</a>
			<a href="/DisplayIngredients/{{ current_user.id }}" class="btn btn-primary">View my items</a>
		</div>
	</div>
{% endblock %}
