{% extends "Wrapper.j2" %}
{% block body %}

	<p style="padding-left:20px; padding-top:70px; font-size:20px;">
		You are currently viewing the " " household.
		<br>
		Select a list to get started!
	</p>
	<br>

	<span style="display:inline; display:flex; justify-content:center;">
		<input type="button" class="btn btn-outline homeButton" style="margin-right:50px; background-color:#FF4D4D;" onclick="window.location.href='/ViewItems';" value="My Pantry"/>
		<input type="button" class="btn btn-outline homeButton" style="margin-left:50px; background-color:#A3D9FF;" onclick="window.location.href='/ViewItems';" value="My Fridge"/>
	</span>
	<br>

	<span style="display:inline; display:flex; justify-content:center;">
		<input type="button" class="btn btn-outline homeButton" style="margin-right:50px; background-color:#FFFAA0;" onclick="window.location.href='/ViewItems';" value="My Spices"/>
		<input type="button" class="btn btn-outline homeButton" style="margin-left:50px; background-color:#E0E0E0" onclick="window.location.href='/ViewItems';" value="My Tools"/>
	</span>
	<br>

	<span style="display:inline; display:flex; justify-content:center;">
		<input type="button" class="btn btn-outline homeButton" style="background-color:#7CFFC4;" onclick="window.location.href='/ViewItems';" value="All Items"/>
	</span>
	<br>


{% endblock %}