<!DOCTYPE html>
<html>
	<head>
		<!-- Icon -->
		<link rel="stylesheet" href="/static/css/Style.css">
	</head>
	
	<body>
		<h1>Grocery Guru</h1>

		<h2>Please Login</h2>
		<form name="login" method="POST">
			<div class="container">
				<label for="email"><b>Email</b></label>
				<input type="text" placeholder="Enter Email" name="email" value="{{ request.form.email }}" required>
				<br><br>

				<label for="pass"><b>Password</b></label>
				<input type="password" placeholder="Enter Password" name="pass" value="{{ request.form.pass }}" required>
				<br><br>

				<button type="submit">Login</button>
				<span><i>Don't have an account? </i><a href="/CreateAccount">Create one!</a></span>
			</div>
		</form>
	</body>
</html>
