{% extends "OpeningWrapper.html" %}
{% block body %}

	<h2 class="loginHeader" style="text-align:left; padding:12px 12px 12px 20px;"><b>Login</b></h2>

	{% if error %}
		<div class="loginHeader alert alert-warning alert-dismissible d-flex align-items-center fade show">
			<i class="bi-exclamation-triangle-fill"></i> 
			<strong class="mx-2">Error:</strong> {{ error }}
		</div>
	{% endif %}

	<form name="login" method="POST">
	<!-- <form action="" method="post"> -->
		<div class="container">
			<label for="uname"><b>Username</b></label>
			<input type="text" placeholder="Enter Username" name="uname" value="{{ request.form.uname }}" required>
			<br><br>

			<label for="pass"><b>Password</b></label>
			<input type="password" placeholder="Enter Password" name="pass" value="{{ request.form.pass }}" required>
			<br><br>

			<button type="submit" style="background-color:#7CFFC4;">Login</button>

			<span style="font-size:14px;"><i>Don't have an account? </i><a href="/CreateAccount">Create one!</a></span>
			<!-- <label>
				<input type="checkbox" checked="checked" name="remember"> Remember me
			</label> -->
		</div>

		<div style="background-color:#E8E8E8; padding:8px 12px; border-radius:0 0 5px 5px;;">
			<button type="button" onclick="window.location.href='/';" class="cancelbtn">Cancel</button>
			<span class="psw">Forgot your <a href="/ResetPassword">password?</a></span> 
		</div>
	</form>

{% endblock %}