{% extends "OpeningWrapper.j2" %}
{% block body %}

	<br>
	<span style="display:inline; display:flex; justify-content:center;">
		<input type="button" class="btn largeButton" style="margin-right:50px;" onclick="window.location.href='/Login';" value="Log in!"/>
		<input type="button" class="btn largeButton" style="margin-left:50px;" onclick="window.location.href='/CreateAccount';" value="Sign up!"/>
	</span>

	<br>
	<p>Welcome to the Grocery Guru where we make your life with home cooking easier!</p>
	<p>Here, you can easily record and access lists of all the food and tools you have stored in your home.</p>
	<p>To get started, just login or create an account!</p>

{% endblock %}