<!DOCTYPE html>
<html lang="en">

<html style="height:100%;">
	<head>
		<link rel='stylesheet' href='/static/css/bootstrap.min.css'>
		<link rel='stylesheet' href='/static/css/style.css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> 
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>The Grocery Guru</title>
	</head>

	<header>
		<nav class="navbar navbar-light fixed-top" style="background-color:#7CFFC4;">
			<a class="navbar-brand" href="/" style="font-family:Candara; font-size:40px; margin-left:auto; margin-right:auto;"><b>The Grocery Guru</b></a>
		</nav>
	</header>

	<body style="height:100%; font-family:Candara;">
		<div style="height:15px; width:100%; padding-left:120px; padding-right:120px; padding-top:70px;">
			<br>
			{% block body %}
			{% endblock %}
			<br>
		</div>
	</body>

	<footer class="page-footer font-small blue">
		<div class="footer-copyright text-center py-3">The Grocery Guru</div>
	</footer>
</html>