{% extends "OpeningWrapper.html" %}
{% block body %}

	<h2 class="loginHeader" style="text-align:left; padding:12px 12px 12px 20px;"><b>Reset Password</b></h2>
	<form action="/...html" method="post">
		<div class="container">
			<label for="email"><b>Account Email</b></label>
			<input type="text" placeholder="Enter Email" name="uname" required>
			<br>

			<button type="submit" style="background-color:#7CFFC4; margin-top:15px;">Send Reset Link</button>
			<br>

			<span style="font-size:14px; margin-top:15px;"><i>Don't have an account? </i><a href="/CreateAccount">Create one!</a></span>
		</div>

		<div style="background-color:#E8E8E8; padding:8px 12px; border-radius:0 0 5px 5px;">
			<button type="button" onclick="window.location.href='/';" class="cancelbtn">Cancel</button>
			<span class="psw">Know your <a href="/Login">password?</a></span> 
		</div>
	</form>

{% endblock %}