<!DOCTYPE html>
<html>
	<head>
		<!-- Icon -->
		<link rel="stylesheet" href="/static/css/Style.css">
	</head>
	
	<body>
		<h1>View User's List Items</h1>

		Current user's id: {{ user_id }}
		<br>
		Current user's items are:
		{% for list_ingredient, ingredient in list_ingredients %}
			{{ ingredient.name }}
			<br>
		{% endfor %}
	</body>
</html>
