<!DOCTYPE html>
<html>
	<head>
		<!-- Icon -->
		<link rel="stylesheet" href="/static/css/Style.css">
	</head>
	
	<body>
		<h1>View User's List Items</h1>

		Current user's items:
		{% for list_ingredient, ingredient in list_ingredients %}
			{{ ingredient.name }}
			<br>
		{% endfor %}
		<p><a href="/">Home</a> | <a href="/AddListItem">Add Item</a> | <a href="/Logout">Logout</a></p>
	</body>
</html>
