<!DOCTYPE html>
<html lang="en">

<html style="height:100%;">
	<head>
		<link rel='stylesheet' href='/static/css/bootstrap.min.css'>
		<link rel='stylesheet' href='/static/css/style.css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script> 
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>The Grocery Guru</title>
	</head>

	<header>
		<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#7CFFC4; font-family:Candara; font-size:18px;">
			<a class="navbar-brand" href="/Home" style="font-family:Candara; font-size:30px; padding-left:80px; padding-right:10px;"><b>The Grocery Guru</b></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
			</button>


			<div class="collapse navbar-collapse" id="navbarNavAltMarkup" style="font-size:18px;">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/Home">Home</a>
					</li>

					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shopping</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">Grocery List</a>
							<div class="divider dropdown-divider"></div>
							<a class="dropdown-item" href="#">Add Item</a>
							<a class="dropdown-item" href="#">Add New List</a>
						</div>
					</li>

					<li class="nav-item dropdown active">
						<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Items</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item" href="#">My Pantry</a>
							<a class="dropdown-item" href="#">My Refrigerator</a>
							<a class="dropdown-item" href="#">My Spice Rack</a>
							<div class="divider dropdown-divider"></div>
							<a class="dropdown-item" href="#">My Tools</a>
							<div class="divider dropdown-divider"></div>
							<a class="dropdown-item" href="#">Add Item</a>
							<a class="dropdown-item" href="#">Add New List</a>
						</div>
					</li>

					<li class="nav-item disabled">
						<a class="nav-link" href="#">Recipes</a>
					</li>
				</ul>
			</div>

			<div class="nav-item dropdown" style="font-family:Candara; padding-right:80px;">
				<a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle user-action" style="color:#000000"><img src="https://www.tutorialrepublic.com/examples/images/avatar/3.jpg" class="avatar" alt="Pic">
					{% if username %}
						{{ username }}
					{% else %}
						No User
					{% endif %}
					<b class="caret"></b></a>
				<div class="dropdown-menu">
					<a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> My Account</a>
					<a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a>
					<a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a>
					<div class="divider dropdown-divider"></div>
					<a href="/Logout" class="dropdown-item"><i class="fa fa-power-off"></i> Logout</a>
				</div>
			</div> 
		</nav>
	</header>

	<body style="height:100%; font-family:Candara;">
		<div style="height:15px; width:100%; padding-left:100px; padding-right:100px;">
			<br>
			{% block body %}
			{% endblock %}
			<br>
		</div>
	</body>

	<footer class="page-footer font-small">
		<div class="footer-copyright text-center py-3">The Grocery Guru</div>
	</footer>
</html>